* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hind', sans-serif;
    transition: all 0.5s;
}
/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
header a {
    color: white;
}
header .navbar .nav-item.active a {
    color: #35a22c;
}
header .navbar .nav-item a {
    position: relative;
    margin-right: 10px;
}
header .navbar .nav-item a:hover {
    color: #35a22c;
}
header nav button {
    background-color: #35a22c!important;
}
header nav button:hover {
    background-color: #5990b0!important;
}
header .navbar-toggler-icon {
    opacity: 0.5;
    font-size: 20px;
    line-height: 36px;
    width: 30px;
    height: 30px;
}
header .navbar .nav-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #35a22c;
    transition: 0.3s;
}
header .navbar .nav-item.active a::before, header .navbar .nav-item a:hover:before {
    width: 100%;
}
header nav .navbar-brand {
    font-size: 2.25rem;
}
header nav a i {
    color: #35a22c;
    font-size: 45px;
}
@media (max-width: 992px) {
    header .navbar-nav li {
        background-color: #fff;
    }
    header .navbar-nav li a {
        color: #35a22c;
        margin-left: 20px;
    }
    header .navbar-nav li:hover{
        background-color: #35a22c;
        transition: 0.5s;
    }
    header .navbar-nav li:hover a {
        color: #fff!important;
        transition: 0.5s;

    }
    header .navbar .nav-item.active a::before, header .navbar .nav-item a:hover:before {
        width: 0%;
    }
}

/* Carousel */
#carousel .carousel-item .item-bg {
    height: 100vh;
    min-height: 500px;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.carousel-caption  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 43, 54, 0.5);;
}
.carousel-indicators .active {
    background-color: #35a22c;;
}
.carousel-indicators {
    bottom: 50px;
}
.carousel-item h5 {
    font-size: 56px;
    font-weight: 500;
    line-height: 65px;
    margin: 8px;
}
.carousel-item p {
    font-size: 24px;
    line-height: 36px;
    margin: 8px;
}
/* Project */
#project .nav {
    justify-content: center;
}
#project .card {
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
#project .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#project .card-body {
    border: 1px solid transparent;
    border-top: transparent;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
#project .card:hover .card-body {
    border-color:#35a22c;
}
#project .card:hover h5.card-title {
    color:#35a22c;
}
#project .card-body h5 {
    font-weight: 400;
}

#project .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #35a22c;
    color: white!important;
    border: none!important;
}
#project .heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: bolder;
}
#project .heading p {
    color: #585858;
    line-height: 24px;
}
/* Feature */
.feature {
    background-image: url(./image/3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    position: relative;
}
.feature .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
}
.feature__item {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 40px;
}
.feature__item:hover {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.5s;
}
.feature__item i {
    font-size: 48px;
    font-weight: 800;
    color: #35a22c;
}
.feature__item h4 {
    font-size: 20px;
    font-weight: 800;
    padding: 25px 0;
}
.feature .container h2 {
    font-weight: 600;
}
@media (max-width: 768px) {
    .feature, .award {
        flex-direction: column;
    }
}
/* Award */
.award {
    position: relative;
    padding: 80px 0;
}
.award__bg {
    background-image: url(./image/memphis_3.png);
    background-size: 50% auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-position: bottom left;
}
.award__left {
    background: rgba(255,255,255,.25);
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
    padding: 45px;
    text-align: left;
    border-radius: 10px;
}
.award__left h2 {
    font-weight: 700;
}
.award__right {
    padding: 45px 0;
}
/* Footer */
footer {
    background-color: black;
}
.footer__top a {
    margin: 0 5px;
}
.footer__top a i:hover {
    color: #35a22c;
    transition: 0.3s;
    border: 0.5px solid #35a22c;

}
.footer__top a i {
    color: #a8aaa8;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0.5px solid #585858;
    line-height: 42px;
}
.footer__bottom {
    color: #a8aaa8;
    border-top: 0.5px solid #585858;
}
.footer__bottom a {
    color: #a8aaa8;
}
.footer__bottom a:hover {
    color: #35a22c;
    text-decoration: none;
}
/* Animate delay */
.animate__delay-500 {
    animation-delay: 0.5s;
}